@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=optional');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro/SF-Pro-Display-Black.woff2) format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro/SF-Pro-Display-Bold.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro/SF-Pro-Display-Semibold.woff2) format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro/SF-Pro-Display-Regular.woff2) format('woff2');
}

@layer components {
  [data-fade] {
    @apply duration-[300ms] opacity-0 transition ease-out translate-y-10 motion-reduce:opacity-100 motion-reduce:translate-y-0;
  }

  .fade-in-start [data-fade] {
    @apply opacity-100 translate-y-0;
  }

  .fade-in-start [data-fade='1'] {
    transition-delay: 100ms;
  }
  .fade-in-start [data-fade='2'] {
    transition-delay: 200ms;
  }
  .fade-in-start [data-fade='3'] {
    transition-delay: 300ms;
  }
  .fade-in-start [data-fade='4'] {
    transition-delay: 400ms;
  }
  .fade-in-start [data-fade='5'] {
    transition-delay: 500ms;
  }
  .fade-in-start [data-fade='6'] {
    transition-delay: 600ms;
  }
  .fade-in-start [data-fade='7'] {
    transition-delay: 700ms;
  }
  .fade-in-start [data-fade='8'] {
    transition-delay: 800ms;
  }
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: rgb(192 38 211);
}
