/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript */

@font-face {
  font-family: 'SF-Mono';
  src: url(/fonts/SF-Mono/SFMonoBold.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'SF-Mono';
  src: url(/fonts/SF-Mono/SFMonoSemibold.woff2) format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'SF-Mono';
  src: url(/fonts/SF-Mono/SFMonoRegular.woff2) format('woff2');
}

code[class*='language-'],
pre[class*='language-'] {
  /* color: #fff; */
  @apply dark:text-white text-black;
  background: 0 0;
  /* text-shadow: 0 1px rgba(0, 0, 0, 0.3); */
  font-family: SF-Mono, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  /*-o-tab-size: 4;*/
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  /* background: #1f1f24; */
  @apply dark:bg-[#1f1f24] bg-gray-100 transition-all duration-300;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  /* color: #6c7986; */
  @apply dark:text-[#6c7986] text-[#5d6c79];
}

.token.punctuation {
  /* color: #fff; */
  @apply dark:text-white text-black;
}

.token.namespace {
  opacity: 0.7;
}

.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #f92672;
}

.token.boolean,
.token.number {
  /* color: #ae81ff; */
  @apply dark:text-[#ae81ff] text-[#9e6cef];
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  /* color: #fc6a5d; */
  @apply dark:text-[#fc6a5d] text-[#c41a16];
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #a626a4;
}

.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
  @apply dark:text-[#93f1dd] text-[#326d74];
}

.token.keyword {
  @apply dark:text-[#fc5fa3] text-[#9B2393];
}

.token.important,
.token.regex {
  /* color: #a167e6; */
  @apply dark:text-[#a167e6] text-[#6c36a9];
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
